/* Layout Container */
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.layout-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar-title {
  cursor: pointer;
  margin-bottom: 30px;
  text-align: center;
}

.sidebar {
  width: 250px;
  background: #000fdf;
  color: #fff;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .menu-heading {
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    background-color: #207ad7;
    padding: 15px 30px 15px 0px;
    margin: 0;
    border-radius: 0;
    border-bottom: 1px solid #004ea2; /* 🔹 Small separating line */
    transition: background-color 0.3s ease, padding-left 0.3s ease,
      transform 0.3s ease;
  }

  .menu-heading:hover {
    background-color: #1a48aa;
    padding-left: 8px;
    transform: scale(1.02);
  }

  .submenu a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px 30px 15px 0px;
    cursor: pointer;
    text-align: center;
    background-color: #5797ff;
    margin: 0;
    border-radius: 0;
    border-bottom: 1px solid #4c86dc; /* 🔹 Slightly darker border */
    transition: background-color 0.3s ease, padding-left 0.3s ease,
      transform 0.3s ease;
  }

  .submenu a:hover {
    background-color: #1a48aa;
    padding-left: 8px;
    transform: scale(1.02);
  }

  .nested-submenu a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px 30px 15px 25px;
    cursor: pointer;
    text-align: center;
    background-color: #77abff;
    margin: 0;
    border-radius: 0;
    border-bottom: 1px solid #6399e5; /* 🔹 Border separation */
    transition: background-color 0.3s ease, padding-left 0.3s ease,
      transform 0.3s ease;
  }

  .nested-submenu a:hover {
    background-color: #1a48aa;
    padding-left: 8px;
    transform: scale(1.02);
  }

  .menu-heading,
  .submenu a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .menu-icon {
    display: flex;
    align-items: center;
  }
}

/* Sidebar Footer */
.sidebar-footer {
  margin-top: auto;
  padding-top: 10px;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.instructor-name {
  font-weight: 500;
  color: #e9ecef;
}

.logout-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  color: #e9ecef;
  transition: color 0.2s;
}

.logout-button:hover {
  color: #ffffff;
}

/* Main Content */
.main-content {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  display: block !important;
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
}
