.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f6fa;
  font-family: "Arial", sans-serif;
}

.login-container {
  width: 400px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.mu-logo-svg {
  width: 100%;
  max-width: 320px;
  display: block;
  margin: 0 auto 16px auto;
}

.divider {
  border: none;
  height: 1px;
  background-color: #ddd;
  margin: 16px 0;
}

.form-title {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 5px;
}

.form-description {
  font-size: 13px;
  text-align: left;
  color: #555;
  margin-top: 0px;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #eef1f5;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 15px;
}

.sign-in-button {
  background-color: #003366;
  color: #fff;
  border: none;
  padding: 10px 0;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
}

.sign-in-button:hover {
  background-color: #002244;
}

.first-time-box {
  text-align: left;
  font-size: 15px;
  color: #000;
}

.first-time-box p:first-child strong {
  font-weight: bold;
  color: #000;
  font-size: 20px;
}

.first-time-box a {
  color: #1e7c91;
  font-weight: bold;
  text-decoration: none;
  padding-left: 70px;
}

.first-time-box a:hover {
  text-decoration: underline;
}

.first-time-box p:last-child strong {
  font-weight: bold;
  margin-right: 4px;
  padding-left: 70px;
}

.teacher-example {
  padding-left: 94px;
  display: inline-block;
}

.version {
  font-size: 16px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 0px;
  color: #000;
}

.error-message {
  color: red;
  font-size: 13px;
  margin-top: 8px;
}
